#wrapper{ 	
margin: 0 auto;
width: 80%;
background: #fff;
}

#header{
background: #ccc;
padding: 20pxl;
}

#header h1{
margin: 0;
}

#navigation{
float: left;
width: 100%;
background: #333;
}

#navigation ul{
margin: 0;
padding: 0;
}

#navigation ul li{
list-style-type: none;
display: inline;
}

#navigation li a{
display: block;
float: left;
padding: 5px 20px;
color: #fff;
text-decoration: none;
border-right: 1px solid #fff;
}

#navigation li a:hover{
background: #734F6E;
}

#content-container{ 
float: left;
width: 100%;
background: #fff repeat-y;
}

#main{
clear: right;
float: right;
width: 80%;
padding: 20px 0;
margin: 0 0 0 4%;
display: inline;
}

#main h2{
margin: 0;
}

#side{
height: 100%;
width: 300px;
position: absolute;
z-index: 1;
top: 25;
right: 10;
background-color: none;
overflow-x: hidden;
padding-top: 400px;
}

#side a{
padding: 6px 8px 6px 16px;
text-decoration: none;
font-size: 20px;
color: #818181;
display: block;
}

#side a:hover {
color: #f1f1f1;
}

@media screen and (max-height: 450px){
#side{ padding-top: 50px;}
#side a{font-size: 18px;}

}

#footer{
clear: left;
background: #ccc;
text-align: right;
padding: 20px;
height: 5%;
}

#box{
border-radius: 25px;
background-color: lightgrey;
width: 150px;
border: 5px dotted black;
padding: 25px;
margin: 25px;
}

#column{
float: left;
width: 33.33%;
padding: 5px;
}

#row::after{
content: "";
clear: both;
display: table;
}